<div class='container' >
  <div class='row'>
    <div class='col'>
     <h2>レシピ投稿フォーム</h2>
      <%= form_with model: @list do |f| %>
      <table>
        <tr>
          <th>画像</th>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <th>レシピ名</th>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <th>値段</th>
          <td><%= f.text_field :price %></td>
        </tr>
        <tr>
          <th>料理方法</th>
          <td><%= f.text_area :explanation %></td>
        </tr>
        <tr>
          <th>タグ名</th>
          <td><%= f.text_field :category,class: 'form-control list_category' %></td>
        </tr>
       
        </table>
         <%= f.submit '投稿' %>
     <% end %>
  </div>
 </div>
</div>