<div>
  <%= image_tag @list.get_image %>
  <p>レシピ名：<%= @list.name %></p>
  <p>値段：<%= @list.price %></p>
  <p>説明：<%= @list.explanation %></p>
  <p>ユーザーネーム：<%= @list.user.name %></p>
  <p>投稿日：<%= @list.created_at.strftime('%Y/%m/%d') %></p>
    <% if @list.user == current_user %>
    <%= link_to "削除", list_path(@list), method: :delete %>
  <% end %>
   <% if @list.favorited_by?(current_user) %>
    <p>
      <%= link_to list_favorites_path(@list), method: :delete do %>
        ♥<%= @list.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to list_favorites_path(@list), method: :post do %>
        ♡<%= @list.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
</div>

<div>
  <p>コメント件数：<%= @list.post_comments.count %></p>
  <% @list.post_comments.each do |post_comment| %>
    <p><%#= image_tag post_comment.user.get_profile_image%></p>
    <%= post_comment.user.name %>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
    <% if post_comment.user == current_user %>
      <%= link_to "削除", list_post_comment_path(post_comment.list, post_comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@list, @post_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>