<h2>検索結果</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
    <tbody>
      <% @lists.each do |list| %>
        <div>
          <%= image_tag list.get_image, :size =>'100x100' %>
          <p>レシピ名：<%= list.name %></p>
          <p>値段：<%= list.price %></p>
          <p>説明：<%= list.explanation %></p>
          <p>ユーザーネーム：<%= list.user.name %></p>
          <p><%= link_to "#{list.post_comments.count} コメント", list_path(list.id) %></p>
        </div>
      <% end %>
    </tbody>
  <% end %>
</table>